/* base.scss -> base.css */
@import "variaveis.scss";

.item {
	background-color: $cor-fundo;
	min-height: $altura;
}

.logo {
	background-color: $cor-bklogo;
	color: $cor-texto;	
}

.item-2 {
	background-color: $cor-fundo2;
	min-height: 5px;
	color: $cor-texto-camada;
}

.footer {
	padding: 25px;
	background-color: $cor-fundo-footer;
	color: $cor-texto-footer;
}