/* Variaveis*scss */
$cor-fundo: #87CEEB;
$altura: 300px;
$cor-fundo2: #008080;
$altura2: 300px;
$cor-bklogo: #0000FF;
$cor-texto: yellow;
$cor-texto-camada: #FFF;
$cor-fundo-footer: #CCC;
$cor-texto-footer: #000;
